body {
    background-color: rgb(242, 212, 228);
}

#bar {
    background-color: rgb(165, 61, 139);
    text-align: center;
    color:white;
    padding:1px;
    margin:10px;
    clear:both; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#main-nav {
    background-color:white;
    text-align:center;
    color:rgb(240, 148, 197);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#main-nav li {
    display:inline-block;
    position: relative;
}

#main-nav li:hover  {
    background-color:rgb(240, 148, 197);
    color:white;
}


#main-nav ul ul{
    display:none;
    position: absolute;
}

a {
    text-decoration: none;
    color: rgb(240, 148, 197);
    }
    
    a:visited {
    color:rgb(240, 148, 197);
    }
    
    a:hover {
    color:white;
    }

#main-nav ul li {
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

.content-area {
    width: 70%;
    float: left;
    margin:0;
    
}

.content-box{
    background-color: rgb(171, 102, 156);
    color:rgba(255, 255, 255, 0.868);
    border: 2px solid black; 
    padding:10px;
    border-radius: 15px;
    margin: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#rules {

    background-color:rgb(91, 24, 89) ;
    float:right;
    width:25%;
    margin-right:10px;
    border: 4px solid black;
    border-radius:15px;
    color:rgb(255, 255, 255, 0.793);
    padding:15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.main-container {
    width: 100%;
    height:50%;
    padding:5px;
    margin-bottom:5px;
}

input[type="text"] {
    width: 100px;
    transition: width 0.3s ease-in-out;
}

input[type="text"]:focus {
    width: 150px;
}

#rules:hover {
    background-color: rgb(235, 207, 242);
    color:rgb(91, 24, 89)
}